<h1>Infinite Products</h1>

<%= turbo_stream_from :infinites %>

<div class="infinite-index-container">
  <% @infinites.each do |infinite| %>
    <%= render partial: 'infinite', locals: { infinite: infinite } %>
  <% end %>
</div>

<%= turbo_frame_tag "new_infinite", src: new_infinite_path %>
