<p>Kilo Records</p>

<div class="container">
  <%= turbo_frame_tag "kilos" do %>
    <ul>
      <% @kilos.each do |kilo| %>
        <li>
          <%= link_to kilo.title, kilo_path(kilo), data: { turbo_frame: "kilo_#{kilo.id}" } %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= render "kilos/form" %>
</div>
