<div class="container-fluid">
<p>Kilo Records</p>

  <%= turbo_frame_tag "kilos" do %>
    <ul>
      <% @kilos.each do |kilo| %>
        <li>
          <%= link_to kilo.title, kilo_path(kilo), data: { turbo_frame: "kilo_#{kilo.id}" } %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <button type="button"
        class="btn btn-lg btn-danger"
        data-bs-toggle="popover"
        title="This is..."
        data-bs-content="the home page">
        Click to toggle popover
  </button>

  <%= render "kilos/form" %>
</div>
